.ctr{
    height: 50px;
    width: 400px;
    margin-left:300px;
    border-radius: 1rem;
    align-items: center;
    text-align: center ;
}
.ctrl{
     height: 50px;
    width: 400px;
    margin-left:300px;
    border-radius: 1rem;
   
}
.ctrl:hover{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}